<!DOCTYPE HTML>
<html>

<head>
    <!--<meta charset="utf-8">
    <script src="js/jquery-3.1.1.js"></script>
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <script src="js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="css/app.min.1.css" type="text/css" />
    <link rel="stylesheet" href="css/app.min.2.css" type="text/css" />
    <link rel="stylesheet" href="css/travelguide.css" type="text/css" />
    <script src="js/angular.js"></script>-->
    <script src="head.js"></script>
    <title>demo</title>
</head>

<body class="o-hidden">
    <div class="header">
        <ul class="header-nav clearfix">
            <li class="headlogo"><img class="b-0" src="images/logo.png"></li>
            <li class="header-nav-right m-r-10">
                <a class="btn-logo" href="login.html">登  录</a>
                <a class="btn-logo" href="regist.html">注  册</a>
            </li>
        </ul>
    </div>
    <div class="login-bg" ng-app="app" ng-controller="loginFormController">
        <div class="login-content">
            <h1 class="login-title">欢迎登陆</h1>
            <div class="login-line">
                <span><i class="iconfont login-icon">&#xe60c;</i></span>
                <input type="text" ng-model="uid" placeholder="手机号" ng-init="uid='15312846327'">
            </div>
            <div class="login-line">
                <span><i class="iconfont login-icon">&#xe635;</i></span>
                <input type="password" ng-model="pwd" placeholder="密码" ng-init="pwd='123456'">
            </div>
            <div class="login-password">
                <input type="checkbox"> 记住密码
                <a class="fr" href="reset1.html">忘记密码？</a>
            </div>
            <div class="login-btn" ng-click="login()"><a>登   录</a></div>
            <div class="login-link">没有帐号？<a href="regist.html">点击注册</a></div>
        </div>
    </div>
    <div class="footer">
        苏ICP备08009322号&nbsp;&nbsp;&nbsp;苏州市旅游局&nbsp;&nbsp;&nbsp;版权所有&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;技术支持：苏州星熙数据科技有限公司<br>业务咨询：0512-67678905&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;技术咨询：0512-67678905
    </div>

    <script type="text/javascript">
        // 左侧导航栏滚动条自适应 
        function layout() {
            $(".login-bg").css("height", $(window).height() - 148);
        };
        layout();
        $(window).resize(function() {
            layout()
        });

        var app = angular.module('app', []);
        app.controller("loginFormController", function($scope, $location) {
            vm = $scope;
            vm.login = function() {
                var uid = vm.uid;
                var pwd = vm.pwd;
                if (!uid || !pwd) {
                    alert('请输入用户名密码')
                    return;
                }
                var uri;
                if(uid=='111')
                	uri='';
                if(uid=='111')
                	uri='';
                if(uid=='111')
                	uri='';
                window.location.href = "index1.html";
            }
        })
    </script>
</body>

</html>