<!DOCTYPE HTML>
<html>

<head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="http://cdn.bootcss.com/bootstrap/3.3.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="http://cdn.bootcss.com/bootstrap/3.3.0/css/bootstrap-theme.min.css">
    <script src="http://cdn.bootcss.com/jquery/1.11.1/jquery.min.js"></script>
    <script src="http://cdn.bootcss.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="css/app.min.1.css" type="text/css" />
    <link rel="stylesheet" href="css/app.min.2.css" type="text/css" />
    <link rel="stylesheet" href="css/travelguide.css" type="text/css" />
    <script src="js/jquery-3.1.1.js"></script>
    <script src="js/angular.js"></script>
    <script src="js/angular-route.js"></script>
    <title>demo</title>
</head>

<body class="o-hidden">
    <div class="header">
        <ul class="header-nav clearfix">
            <li class="headlogo"><img class="b-0" src="images/logo.png"></li>
            <li class="header-nav-right m-r-10">
                <a class="btn-logo" href="login.html">登  录</a>
                <a class="btn-logo" href="regist.html">注  册</a>
            </li>
        </ul>
    </div>
    <div class="login-bg" ng-app="app" ng-controller="reset1Controller">
        <div class="login-content">
            <h1 class="login-title">重置密码</h1>
            <div class="login-line">
                <span><i class="iconfont login-icon">&#xe60c;</i></span>
                <input type="text" placeholder="手机号" ng-model='phoneNo' ng-init="phoneNo='123123'">
            </div>
            <div class="login-line">
                <span><i class="iconfont login-icon">&#xe622;</i></span>
                <input class="w-yz" type="text" placeholder="验证码" ng-model='checkCode' ng-init="checkCode='123123'">
                <a class="btn-resive" ng-click='getCode()'>获取验证码</a>
                <!-- <a class="btn-resive color-go">52秒</a>	倒计时的样式 -->
            </div>
            <div class="login-btn" ng-click='next()'><a>下一步</a></div>
            <div class="login-link">没有帐号？<a href="regist.html">点击注册</a></div>
        </div>
    </div>
    <div class="footer">
        苏ICP备08009322号&nbsp;&nbsp;&nbsp;苏州市旅游局&nbsp;&nbsp;&nbsp;版权所有&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;技术支持：苏州星熙数据科技有限公司<br>业务咨询：0512-67678905&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;技术咨询：0512-67678905
    </div>

    <script type="text/javascript">
        // 左侧导航栏滚动条自适应 
        function layout() {
            $(".login-bg").css("height", $(window).height() - 148);
        };
        layout();
        $(window).resize(function() {
            layout()
        });
        var app = angular.module('app', ['ngRoute']);
        app.controller("reset1Controller", function($scope, $location) {
            vm = $scope;
            vm.getCode = function() {
                alert('验证码已经发送')
            }
            vm.next = function() {
                var phoneNo = vm.phoneNo;
                var checkCode = vm.checkCode;
                if (!phoneNo || !checkCode) {
                    alert("请输入手机号/验证码")
                    return;
                }
                console.log(window.location)
                window.location = "reset2.html";
            }
        });
    </script>
</body>

</html>